# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Test Action

on:
  push:
    branches:
      - actions
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
    
      - name: Run tests
        run: dotnet test --configuration Release --verbosity normal
        env:
          ASPNET_ENVIRONMENT: "STAGING"